/* -----------------------------------------
   Icons
----------------------------------------- */

i {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-bottom: -2px;
	background:url(images/icons.png) top left no-repeat; 
}

i.icon-white { background:url(images/icons-white.png) top left no-repeat; }
i.icon-camera{ width:16px; height:16px; background-position:-10px -10px; }
i.icon-html5{ width:16px; height:16px; background-position:-10px -36px; }
i.icon-badge{ width:16px; height:16px; background-position:-10px -62px; }
i.icon-globe{ width:16px; height:16px; background-position:-10px -88px; }
i.icon-calendar{ width:16px; height:16px; background-position:-10px -114px; }
i.icon-heart{ width:16px; height:16px; background-position:-10px -140px; }
i.icon-ul{ width:16px; height:16px; background-position:-10px -166px; }
i.icon-map-marker{ width:16px; height:16px; background-position:-10px -192px; }
i.icon-user{ width:16px; height:16px; background-position:-10px -218px; }
i.icon-comment{ width:16px; height:16px; background-position:-10px -244px; }
i.icon-chat{ width:16px; height:16px; background-position:-10px -270px; }
i.icon-clock{ width:16px; height:16px; background-position:-10px -296px; }
i.icon-time{ width:16px; height:16px; background-position:-10px -322px; }
i.icon-tumblr{ width:16px; height:16px; background-position:-10px -348px; }
i.icon-external{ width:16px; height:16px; background-position:-10px -374px; }
i.icon-logout{ width:16px; height:16px; background-position:-10px -400px; }
i.icon-login{ width:16px; height:16px; background-position:-10px -426px; }
i.icon-download{ width:16px; height:16px; background-position:-10px -452px; }
i.icon-upload{ width:16px; height:16px; background-position:-10px -478px; }
i.icon-cloud{ width:16px; height:16px; background-position:-10px -504px; }
i.icon-cog{ width:16px; height:16px; background-position:-10px -530px; }
i.icon-lizard{ width:16px; height:16px; background-position:-10px -556px; }
i.icon-gear{ width:16px; height:16px; background-position:-10px -582px; }
i.icon-back{ width:16px; height:16px; background-position:-10px -608px; }
i.icon-play{ width:16px; height:16px; background-position:-10px -634px; }
i.icon-arrow-right{ width:16px; height:16px; background-position:-10px -660px; }
i.icon-arrow-left{ width:16px; height:16px; background-position:-10px -686px; }
i.icon-share-box{ width:16px; height:16px; background-position:-10px -712px; }
i.icon-twitter{ width:16px; height:16px; background-position:-10px -738px; }
i.icon-facebook{ width:16px; height:16px; background-position:-10px -764px; }
i.icon-google-plus{ width:16px; height:16px; background-position:-10px -790px; }
i.icon-linkedin{ width:16px; height:16px; background-position:-10px -816px; }
i.icon-vimeo{ width:16px; height:16px; background-position:-10px -842px; }
i.icon-pinterest{ width:16px; height:16px; background-position:-10px -868px; }
i.icon-blogger{ width:16px; height:16px; background-position:-10px -894px; }
i.icon-wordpress{ width:16px; height:16px; background-position:-10px -920px; }
i.icon-github{ width:16px; height:16px; background-position:-10px -946px; }
i.icon-instagram{ width:16px; height:16px; background-position:-10px -972px; }
i.icon-flickr{ width:16px; height:16px; background-position:-10px -998px; }
i.icon-behance{ width:16px; height:16px; background-position:-10px -1024px; }
i.icon-home{ width:16px; height:16px; background-position:-10px -1050px; }
i.icon-rss{ width:16px; height:16px; background-position:-10px -1076px; }
i.icon-chevron-left{ width:16px; height:16px; background-position:-10px -1102px; }
i.icon-chevron-right{ width:16px; height:16px; background-position:-10px -1128px; }
i.icon-info{ width:16px; height:16px; background-position:-10px -1154px; }
i.icon-question-sign{ width:16px; height:16px; background-position:-10px -1180px; }
i.icon-bookmark{ width:16px; height:16px; background-position:-10px -1206px; }
i.icon-link{ width:16px; height:16px; background-position:-10px -1232px; }
i.icon-edit{ width:16px; height:16px; background-position:-10px -1258px; }
i.icon-envelope{ width:16px; height:16px; background-position:-10px -1284px; }
i.icon-sync{ width:16px; height:16px; background-position:-10px -1310px; }
i.icon-skype{ width:16px; height:16px; background-position:-10px -1336px; }
i.icon-tablet{ width:16px; height:16px; background-position:-10px -1362px; }
i.icon-search{ width:16px; height:16px; background-position:-10px -1388px; }
i.icon-return{ width:16px; height:16px; background-position:-10px -1414px; }
i.icon-share-alt{ width:16px; height:16px; background-position:-10px -1440px; }
i.icon-star-empty{ width:16px; height:16px; background-position:-10px -1466px; }
i.icon-star{ width:16px; height:16px; background-position:-10px -1492px; }
i.icon-shuffle{ width:16px; height:16px; background-position:-10px -1518px; }
i.icon-warning{ width:16px; height:16px; background-position:-10px -1544px; }
i.icon-ok{ width:16px; height:16px; background-position:-10px -1570px; }
i.icon-list{ width:16px; height:16px; background-position:-10px -1596px; }
i.icon-hand{ width:16px; height:16px; background-position:-10px -1622px; }
i.icon-sign{ width:16px; height:16px; background-position:-10px -1648px; }
i.icon-tag{ width:16px; height:16px; background-position:-10px -1674px; }
i.icon-sound{ width:16px; height:16px; background-position:-10px -1700px; }
i.icon-lock{ width:16px; height:16px; background-position:-10px -1726px; }
i.icon-flag{ width:16px; height:16px; background-position:-10px -1752px; }
i.icon-dislike{ width:16px; height:16px; background-position:-10px -1778px; }
i.icon-css3{ width:16px; height:16px; background-position:-10px -1804px; }
i.icon-jquery{ width:16px; height:16px; background-position:-10px -1830px; }
i.icon-arrow-up{ width:16px; height:16px; background-position:-10px -1856px; }
i.icon-arrow-down{ width:16px; height:16px; background-position:-10px -1882px; }
i.icon-share{ width:16px; height:16px; background-position:-10px -1908px; }
i.icon-save{ width:16px; height:16px; background-position:-10px -1934px; }
i.icon-computer{ width:16px; height:16px; background-position:-10px -1960px; }
i.icon-error{ width:16px; height:16px; background-position:-10px -1986px; }
i.icon-exclamation-sign{ width:16px; height:16px; background-position:-10px -2012px; }
i.icon-expand{ width:16px; height:16px; background-position:-10px -2038px; }
i.icon-eye{ width:16px; height:16px; background-position:-10px -2064px; }
i.icon-rewind{ width:16px; height:16px; background-position:-10px -2090px; }
i.icon-fast-forward{ width:16px; height:16px; background-position:-10px -2116px; }
i.icon-laptop{ width:16px; height:16px; background-position:-10px -2142px; }
i.icon-smartphone{ width:16px; height:16px; background-position:-10px -2168px; }
i.icon-phone{ width:16px; height:16px; background-position:-10px -2194px; }
i.icon-file{ width:16px; height:16px; background-position:-10px -2220px; }
i.icon-folder{ width:16px; height:16px; background-position:-10px -2246px; }
i.icon-backwards{ width:16px; height:16px; background-position:-10px -2272px; }
i.icon-forward{ width:16px; height:16px; background-position:-10px -2298px; }
i.icon-fullscreen{ width:16px; height:16px; background-position:-10px -2324px; }
i.icon-image{ width:16px; height:16px; background-position:-10px -2350px; }
i.icon-movie{ width:16px; height:16px; background-position:-10px -2376px; }
i.icon-music{ width:16px; height:16px; background-position:-10px -2402px; }
i.icon-mark-left{ width:16px; height:16px; background-position:-10px -2428px; }
i.icon-mark-right{ width:16px; height:16px; background-position:-10px -2454px; }
i.icon-next{ width:16px; height:16px; background-position:-10px -2480px; }
i.icon-prev{ width:16px; height:16px; background-position:-10px -2506px; }
i.icon-x-mark{ width:16px; height:16px; background-position:-10px -2532px; }
i.icon-minus-sign-reverse{ width:16px; height:16px; background-position:-10px -2558px; }
i.icon-minus-sign{ width:16px; height:16px; background-position:-10px -2584px; }
i.icon-like{ width:16px; height:15px; background-position:-10px -2610px; }

/* -----------------------------------------
   Icons Page
----------------------------------------- */

#icons ul {
	list-style: none;
}

#icons li:hover {
	background-color: pink;
}
