@charset "UTF-8";
/*
Theme Name: Responsive
Description: Framework theme for Bridgeburnr using Foundation CSS
Author: Harry Pujols
Author URI: http://harrypujols.com/
Github Theme URI: https://github.com/harrypujols/responsive
Version: 0.0.0
*/
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Icons
*/
// You custom settings file to override Foundation defaults
/* -----------------------------------------
   base
----------------------------------------- */
@import "settings";
@import "icons";
@import "navigation";

#container a {
	font-weight: bold;
}

/* -----------------------------------------
   Header
----------------------------------------- */
#header {
	margin-top: 20px;
	border-top: thick solid $black;
	
	h1 { 
	font-size: ms(2); 
	margin-top: 10px;
	}
		
	.nav-bar {
	margin-bottom: 10px;
	height: 58px;
		li {
			border: none;
		}
		  &>li:hover { 
			background: $highlightColor; cursor: default; 
		}
  
	}
	
	.masthead {
		border-top: thin solid $black;
		border-bottom: thin solid $black;
		img {
			margin-bottom: -2px;
		}
	}
}

/* -----------------------------------------
   Content
----------------------------------------- */

#content {
		a:hover {
			color: $highlightColor;
			text-decoration: underline;
		}
	
	    .post {
		border-bottom: thin solid $black;
		
			&:last-child {
				border-bottom: none;
			}
			
			img {
				margin: 10px auto;
			}
			
			p:first-child {
				margin-top: 10px;
			}
		
	   }

	time {
		color: $grey;
		font-weight: bold;
	}
	
	.three.columns.aside {
		padding-top: 10px;
	}
	
	.nine.columns.article {
		padding-right: 0;
		
		h2 {
			 	 font-size: ms(0);
			 	 margin: 0;
			  a {
				  display: block;
				  padding: 10px 5px;
				  border-bottom: thin solid #d5d5d5;
				  &:hover {
					  background-color:  $orange;
					  color: $white;
					  text-decoration: none;
				  }
			  }
			}
	}
}

/* -----------------------------------------
   Sidebar
----------------------------------------- */

#sidebar {
	h3 {
		font-size: ms(0);
		margin: 12px 0 8px 0;
		color: $grey;
	}
	//sidebar h3 ends
	ul {
	    border-top: 1px solid $black;
		border-bottom: 1px solid $black;
	}
	
	.side-nav {
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		
		li {
			 border-bottom: thin solid #d5d5d5;
			 padding: 0;
			 margin: 0;
		   &:last-child {
			    border-bottom: none;
			  }
		   
		   &.current_page_item a {
			   color: $grey;
		   }
		   
			a {
			 	 display: block;
			 	 padding: 5px;
			  &:hover {
				  background-color:  $orange;
				  color: $white;
				  text-decoration: none;
			  }
			 
		  }
	//sidebar li ends
		}
	//sidebar ul ends
	}
//sidebar ends
}

/* -----------------------------------------
   Responsive
----------------------------------------- */

@media only screen and (max-width: 767px) {
   .post, .post img {
	   width: 100%;
	   padding-right: 8px;
   }
}